<div class = "board">
    <div class = "top-container">
        <a href="/board/{{board.name}}"><p>{{board.name}}</p></a>
        <img src="assets/icons/Thrash-dark.svg" (click) ="deleteBoard()"  class="trash-icon"/>
    </div>
    <div class = "tasks-container">
        <p>Por hacer</p>
        <div *ngFor = "let task of tasks" className = "task">
            <app-task [task]=task [board]="board"></app-task>
        </div>
        <app-create-job [boardName]=board.name></app-create-job>
    </div>
    <div class = "tasks-container">
        <p>En progreso</p>
    </div>
    <div class = "tasks-container">
        <p>Terminadas</p>
    </div>
</div>