<div class = "center">
    <h1>Editar el perfil</h1>
    <div class="form-container">
        <label>
            Nombre de usuario*
        </label>
        <input type="text" [formControl]="userName"/>
        <label>
            Nombre completo*
        </label>
        <input type="text" [formControl]="name"/>
        <label>
            Fecha de nacimiento*
        </label>
        <input type="date" [formControl]="birthDate"/>
        <input type="submit" value="Confirmar" (click)="sendForm()"/>
    </div>
</div>
