.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-family: Verdana,Geneva,sans-serif;
    color: #B1CFE0; 
}

.right {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: #8A9EFF;
}

.calendar-img {
    height: auto;
    width: 100%;
}

.form-center {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo img {
    margin-right: 2rem;
}

h1 {
    font-family: 'Sura', serif;
    color: white;
}

input[type=text], input[type=password] {
    outline: none;
    background-color: #445766;
    border: 0px;
    
}