:root {
    --main-bg: #12171B;
    --accent-color: #445766;
    --accent-color-2: #9CD0EE;
    --light-yellow: #FCFF6B;
    --button-fade: radial-gradient(45.19% 704.89% at 47.44% 57.6%, #FCFF6B 0%, #F0F415 100%);
}

html {
    background-color: var(--main-bg);
}

body {
    margin: 0px ;
}

