<div class="sidebar">
    <div class = "editName" *ngIf="boardName">
        <p>Nombre Tablero</p>
        <input type = "text" [formControl]="boardNameControl" (keydown.enter)="sendBoardNameForm()"/>
    </div>
    <div class = "editName" *ngIf="task">
        <p>Nombre Tarea</p>
        <input type = "text" [formControl]="taskName" (keydown.enter)="sendForm()"/>
        <div class = "bottom">
            <img src="assets/icons/Thrash-dark.svg" (click) ="deleteTask()"/>
        </div>
    </div>
</div>
